.DS_Store
node_modules
.wireit
.env
.env.*
!.env.example
.eslintcache
*.tsbuildinfo
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

packages/*/*.tgz
packages/*/.svelte-kit
packages/*/dist
packages/*/types

sites/*/.svelte-kit
sites/*/build